* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    font-size: 16px;
}

section {
    height: 550px;
    width: auto;
}

.displayPhoto {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 350px;
}

.displayPhotoContentDiv {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 60px;
}

#aboutTitle {
    font-size: 29pt;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.setBackgroundGrey {
    background-color: #D3D3D3;
}

#footer {
    height: 300px;
    width: auto;
}

.thumbnail {
    width: 100px;
    height: 100px;
    display: block;
    z-index: 999;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}

.thumbnail:hover {
    transform: scale(5);
}


/* Colorize-zoom Container */

.img-hover-colorize img {
    /* transition: transform .5s, filter 1.5s ease-in-out; */
    filter: grayscale(100%);
}


/* The Transformation */

.img-hover-colorize:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
}